<% include header %> 


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include menu %>            

        <div id="page-wrapper">
            <div class="container-fluid">
                <section id="content" class="changePasswordMain">
                    <div id="main" style="height: 100vh;line-height: 40px;">
                        <div class="row top-heading">
                            <div class="col-lg-12">
                                <h3 class="page-header">
                                    CHANGE PASSWORD
                                </h3>
                             <!--   <p class="light-blue-color block" id="errMsg" style="font-size: 1.3333em;">Change Password to your account.</p> -->
                            </div>
                        </div>

                        <div class="center-block">                            
                            <form class="changeForm">
                                <table class="table table-bordered table-hover table-striped">                         
                                    <tbody>
                                        <tr>
                                            <td>Enter your old password</td>
                                            <td> 
                                                <div class="form-group">
                                                    <input type="password" name="oldPassword" class="input-text input-large full-width form-control " placeholder="Enter your old password">    
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>Enter your new password</td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="password" name="newPassword" class="input-text input-large full-width form-control" placeholder="Enter your new password">    
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>Re enter your new password</td>
                                            <td> 
                                                <div class="form-group">
                                                    <input type="password" name="retypePassword" class="input-text input-large full-width form-control" placeholder="Re enter your new password">    
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button type="submit" id="adminChangePassword" class="btn btn-large full-width sky-blue1" style="cursor: pointer;background: #07a5d8;    padding: 8px 30px;color: #fff;margin-top: 10px; text-decoration: none;border-radius: 3px;line-height: 25px;">SUBMIT</button></td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </form>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="../website/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../website/js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="../website/js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="../website/s/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../website/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../website/js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="../website/js/bootstrap.js"></script>


    <!-- parallax -->
    <script type="text/javascript" src="../website/js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="../website/js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="../website/js/theme-scripts.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../website/js/scripts.js"></script>

    <script>

        tjq(document).ready(function () {
            // tjq("body").on("click", "#adminChangePassword", function () {

            tjq(".changeForm").validate({
                rules: {
                    oldPassword: {
                        required: true,
                    },
                    newPassword: {
                        required: true,
                    },
                    retypePassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }

                },
                submitHandler: function () {
                    var oldPassword = tjq("input[name='oldPassword']").val();
                    var newPassword = tjq("input[name='newPassword']").val();
                    var retypePassword = tjq("input[name='retypePassword']").val();

                    var jsondata = {
                        "current_password": oldPassword,
                        "new_password": newPassword,
                        "retype_password": retypePassword
                    };

                    tjq.ajax({
                        type: 'post',
                        url: '/admin/changepassword',
                        datatype: 'json',
                        data: jsondata,

                        success: function (data) {
                            if (data.code == 200) {
                                tjq("#errMsg").text(data.message);
                                setTimeout(function () {
                                    tjq("input[name='oldPassword']").val('');
                                    tjq("input[name='newPassword']").val('');
                                    tjq("input[name='retypePassword']").val('');
                                    tjq("#errMsg").text("Change Password to your account.");
                                }, 1000);
                            } else if (data.code == 400) {
                                tjq("#errMsg").text(data.message);
                            } else if (data.code == 204) {
                                tjq("#errMsg").text(data.message);
                            }
//                        for Empty karthi
//                        else if (data.code == 204) {
//                            tjq("#errMsg").text(data.message);
//                        }
                        }
                    });
                }
            })



        });

    </script>        
</body>
