
         
        <% include header %>
        
     <article id="content">
          <section class="bannerImg">

        <div class="mainSlider">
           <div class="">
                <img src="/website/images/site/slider/slider3.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider1.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider2.jpg" class="full-box" height="727px" />
            </div>
            
            
        </div> 
    </section> 
         
         <div class="container"> 
         
             <h1> Coming Soon </h1>
             <br><br><br><br><br><br><br><br><br><br><br><br>
             <br><br><br><br><br><br><br><br><br><br><br><br>
         </div> 
            
         
         
         
        </article>
        
        
        <% include footer %>
   

