
         
        <% include header %>
        
   
        <section id="content">
             <section class="bannerImg">

        <div class="mainSlider">
           <div class="">
                <img src="/website/images/site/slider/slider3.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider1.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider2.jpg" class="full-box" height="727px" />
            </div>
            
            
        </div> 
    </section> 
            
        </div> 
            <div class="container">
                <div id="main">
                    
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="travelo-box contact-us-box">
                                <h4>Contact us</h4>
                                <ul class="contact-address">
                                    <li class="address">
                                        <i class="soap-icon-address circle"></i>
                                        <h5 class="title">Address</h5>
                                        <p>United States of America.</p>
                                        <p>P.O Box,  353 Three Avenue.</p>
                                    </li>
                                    <li class="phone">
                                        <i class="soap-icon-phone circle"></i>
                                        <h5 class="title">Phone</h5>
                                        <p>Local: 1-800-123-hello</p>
                                        <p>Mobile: 1-800-123-hello</p>
                                    </li>
                                    <li class="email">
                                        <i class="soap-icon-message circle"></i>
                                        <h5 class="title">Email</h5>
                                        <p>info@Travelo.com</p>
                                        <p>www.Travelo.com</p>
                                    </li>
                                </ul>
                                <ul class="social-icons full-width">
                                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="soap-icon-twitter"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="GooglePlus"><i class="soap-icon-googleplus"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="soap-icon-facebook"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="travelo-box">
                                <form class="contact-form" action="contact-us-handler.php" method="post" onsubmit="return false;">
                                    <h4 class="box-title">Send us a Message</h4>
                                    <div class="alert small-box" style="display: none;"></div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <label>Your Name</label>
                                            <input type="text" name="name" class="input-text full-width">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Your Email</label>
                                            <input type="text" name="email" class="input-text full-width">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Your Message</label>
                                        <textarea name="message" rows="6" class="input-text full-width" placeholder="write message here"></textarea>
                                    </div>
                                    <button type="submit" class="btn-large full-width">SEND MESSAGE</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        
        
        <% include footer %>
   

