<% include header %>


    <article id="content">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="/website/images/site/slider/exchange.jpeg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <!--<h1>Welcome.</h1>-->
                            <h1>" If the decentralised information system is " internet " than the decentralised currency will  be "protos ". </h1>
                            <br><br>
                        </div>
                    </div>
                </div>
                

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container">

            <div class="row ">
                <div class="col-sm-4"></div>

                <div class="travelo-box col-sm-4">
                    <form class="contact-form" id="cform">
                        <h2 class="box-title"> Login </h2>
                        <h4 class="box-title" id="message" style="color: #DD4B39"> </h4>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label>Email</label>
                                <input type="text" name="email" class="input-text full-width">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label>Password</label>
                                <input type="password" name="password" class="input-text full-width">
                            </div>
                        </div>
                        <button type="submit" class="btn-large full-width login"> join protocoin </button>
                    </form>
                </div>



            </div>
        </div>
    </article>




    <% include footer %>




        <script>
            tjq(document).ready(function () {
                tjq("#cform").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true,

                        }

                    },
                    submitHandler: function () {

                        var email = tjq("[name='email']").val();
                        var password = tjq("[name='password']").val();

                        var jsonData = { "email": email, "password": password, "type": 1 };




                        tjq.ajax
                            ({
                                type: "POST",
                                url: "/login",
                                dataType: 'json',
                                async: false,
                                headers: {
                                    "Authorization": "<%- authorization %>",
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                },
                                data: jsonData,
                                success: function (data) {

                                    console.log(data);
                                    if (data.data.code == 200) {


                                        window.location.assign("/users/")


                                    } else {
                                        tjq("#message").text(JSON.stringify(data.data.message));

                                    }


                                    return false;
                                }
                            });





                    }
                });
            });
        </script>