<footer id="footer">

    <!--    <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h2>Discover</h2>
                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a href="#">Safety</a></li>
                            <li class="col-xs-6"><a href="#">About</a></li>
                            <li class="col-xs-6"><a href="#">Coin Picks</a></li>
                            <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
                            <li class="active col-xs-6"><a href="#">Mobile</a></li>
                            <li class="col-xs-6"><a href="#">Press Releases</a></li>
                            <li class="col-xs-6"><a href="#">Why Host</a></li>
                            <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                            <li class="col-xs-6"><a href="#">Social Connect</a></li>
                            <li class="col-xs-6"><a href="#">Help Topics</a></li>
                            <li class="col-xs-6"><a href="#">Site Map</a></li>
                            <li class="col-xs-6"><a href="#">Policies</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Coin News</h2>
                        <ul class="travel-news">
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                    </a>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                    <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                    <span class="date">25 Sep, 2013</span>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                    </a>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><a href="#">Coin Insurance</a></h5>
                                    <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                    <span class="date">24 Sep, 2013</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Mailing List</h2>
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <br />
                        <div class="icon-check">
                            <input type="text" class="input-text full-width" placeholder="your email" />
                        </div>
                        <br />
                        <span>We respect your privacy</span>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>About Coin</h2>
                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque.</p>
                        <br />
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br />
                            <a href="#" class="contact-email">help@coin.com</a>
                        </address>
                        <ul class="social-icons clearfix">
                            <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                            <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                            <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                            <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                            <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                            <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    
    
     <section class="coinNewsLetter">
        <div class="newsletterOuter">
            <h3>Subscribe for our weekly newsletter </h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <button class="btn btn-default">Submit</button>
        </div>
    </section>
    
    
    <section class="footerMenu">
        <div class="container">
            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-xs-12 singleMenuTab">
                <div>Site Map</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Exchange</a></li>
                    <li><a href="#">Opportunity</a></li>
                    <li><a href="#">CODE OF CONDUCT</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Shopping</a></li>                
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 singleMenuTab">

                <div>Media Center</div>
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Blogs</a></li>                                                    
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 singleMenuTab">
                <div>Legal</div>
                <ul>
                    <li><a href="#"> Agreement</a></li>
                    <li><a href="#">  T&C</a></li>
                    <li><a href="#">  Global Comp. Plan</a></li>    
                    <li><a href="#">  AML Policy</a></li>                 
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 singleMenuTab">
                <div>Help</div>
                <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">  FAQ</a></li>                                
                </ul>
            </div>
        </div>

    </section>
    

    <div class="bottom">
        <div class="container">
            <!--            <div class="pull-left">
                            <a href="index.html" title="Coin - home">
                                <img src="/website/images/site/logo.png" class="logoStyle" alt="Coin HTML5 Template" />
                            </a>
                        </div>-->
<!--            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>-->
            <div class="copyright pull-right">
                <p> Copyright &copy; 2017 Protocoin. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>


<div class="modal fade loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form class="contact-form" id="cform" >
            <div class="loginOuterDiv">
                 <h4 class="box-title" id="message" style="color: #DD4B39">  </h4>
                 <br>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Username">                
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">                
                </div>
                <div class="form-group">
                <label><input type="checkbox"  value="">Remember Me</label>
               </div>
                <button class="btn btm-default">Login</button>
            </div>
            <div class="forgetStyle">
                <a href="#">Forget Password ?</a>
            </div>
            <div class="registerStyle">
                <span>Don't have account ?</span> <a href="register"><mark>Register Here</mark></a>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/website/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/website/js/jquery.noconflict.js"></script>
<script type="text/javascript" src="/website/js/modernizr.2.7.1.min.js"></script>
<script type="text/javascript" src="/website/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/website/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="/website/js/jquery-ui.1.10.4.min.js"></script>

<!-- Twitter Bootstrap -->
<script type="text/javascript" src="/website/js/bootstrap.min.js"></script>

<!-- load revolution slider scripts -->
<script type="text/javascript" src="/website/components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/website/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- load BXSlider scripts -->
<script type="text/javascript" src="/website/components/jquery.bxslider/jquery.bxslider.min.js"></script>

<!-- slider -->
<script type="text/javascript" src="/website/js/slickSlider.js"></script>

<!-- Flex Slider -->
<script type="text/javascript" src="/website/components/flexslider/jquery.flexslider.js"></script>

<!-- parallax -->
<script type="text/javascript" src="/website/js/jquery.stellar.min.js"></script>

<!-- parallax -->
<script type="text/javascript" src="/website/js/jquery.stellar.min.js"></script>

<!-- waypoint -->
<script type="text/javascript" src="/website/js/waypoints.min.js"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="/website/js/theme-scripts.js"></script>
<script type="text/javascript" src="/website/js/scripts.js"></script>

<script type="text/javascript">
    tjq(document).ready(function () {
        tjq(function () {
            tjq("#protoCoinSlider").slider({
                orientation: "horizontal",
                range: "min",
                animate: true,
                slide: function (event, ui) {                  
                    tjq("#protoCoinVal").val(ui.value);  
                    tjq('.count').text(ui.value);
                }
            });
              tjq("#protoYearSlider").slider({
                orientation: "horizontal",
                range: "min",
                animate: true,
                slide: function (event, ui) {                
                    tjq("#protoYearVal").val(ui.value);  
                     tjq('.count').text(ui.value);
                }
            });
              tjq("#protoCountSlider").slider({
                orientation: "horizontal",
                range: "min",
                animate: true,
                slide: function (event, ui) {                    
                    tjq("#protoCountVal").val(ui.value);  
                     tjq('.count').text(ui.value);
                }
            });
        });
   

    tjq('.revolution-slider').revolution(
    {
    sliderType: "standard",
            sliderLayout: "auto",
            dottedOverlay: "none",
            delay: 9000,
            navigation: {
            keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "on",
                    touch: {
                    touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                    }
            ,
                    arrows: {
                    style: "default",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                            h_align: "left",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                            },
                            right: {
                            h_align: "right",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                            }
                    }
            },
            visibilityLevels: [1240, 1024, 778, 480],
            gridwidth: 1170,
            gridheight: 646,
            lazyType: "none",
            shadow: 0,
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: - 1,
            stopAtSlide: - 1,
            shuffle: "off",
            autoHeight: "off",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
            simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
            }
    });
    }
    );
    
    
       tjq(".mainSlider").slick();
    
    
// Login 
    tjq(document).ready(function () {
        tjq("#cform").validate({
            rules: {
                email: {
                    required: true,
                    email:true
                },
                password: {
                    required: true,
                    
                }

            },
            submitHandler: function () {

            var email=tjq("#cform [name='email']").val();
            var password=tjq("#cform [name='password']").val();
            
                var jsonData ={"email":email,"password":password,"type":1};


                 

                tjq.ajax
                        ({
                            type: "POST",
                            url: "/login",
                            dataType: 'json',
                            async: false,
                            headers: {
                                 'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            data: jsonData,
                            success: function (data) {
                                
console.log(data);
                                if (data.data.code == 200) {
                                   

                                window.location.assign("/users/")


                                } else {
                                   tjq("#message").text(JSON.stringify(data.data.message));

                                }


                                return false;
                            }
                        });





            }
        });
    });
    
</script>
<script src="/javascripts/jquery.validate.min.js"></script>
</body>
</html>


<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/587de9346b90161d8716b34c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>