
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>
        <!-- Page Title -->
        <title> Proto Coin </title>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="coin - Travel, Tour Booking HTML5 Template">
        <meta name="author" content="SoapTheme">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- Theme Styles -->
        <link rel="stylesheet" href="/website/css/bootstrap.min.css">
        <link rel="stylesheet" href="/website/css/font-awesome.min.css">
        <!--    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="/website/css/animate.min.css">

        <!-- Current Page Styles -->
        <link rel="stylesheet" type="text/css" href="/website/components/revolution_slider/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/website/components/revolution_slider/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/website/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/website/components/flexslider/flexslider.css" media="screen" />

        <!-- Main Style -->
        <link id="main-style" rel="stylesheet" href="/website/css/style.css">

        <!-- Updated Styles -->
        <link rel="stylesheet" href="/website/css/updates.css">

        <!--jquery-UI-->
        <link rel="stylesheet" href="/website/css/jquery-ui.css">

        <!-- Custom Styles -->
        <link rel="stylesheet" href="/website/css/custom.css">

        <!-- For slider -->
        <link rel="stylesheet" href="/website/css/slickSlider.css">


        <!-- Responsive Styles -->
        <link rel="stylesheet" href="/website/css/responsive.css">

        <link rel="stylesheet" href="/website/css/edit-style.css">
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

        <!-- CSS for IE -->
        <!--[if lte IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie.css" />
        <![endif]-->


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->

        <!-- Javascript Page Loader -->
        <!--    <script type="text/javascript" src="/website/js/pace.min.js" data-pace-options='{ "ajax": false }'></script>
            <script type="text/javascript" src="/website/js/page-loading.js"></script>-->


    </head>
    <body>
        <div id="page-wrapper">


            <header id="header" class="navbar-static-top">


                <div class="main-header">

                    <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                        Mobile Menu Toggle
                    </a>

                    <div class="container coin-menu">
                        <h1 class="navbar-brand" >
                            <a href="/" title="coin - home">
                                <img src="/website/images/site/logo.png" class="logoStyle" alt="coin HTML5 Template" />
                            </a>
                        </h1>

                        <nav id="main-menu" role="navigation">
                            <ul class="menu">
                                <li class="menu-item-has-children">
                                    <a href="/">Home</a>

                                </li>

                                                                <li class="menu-item-has-children">
                                                                    <a href="about">About Us</a>
                                                                </li>   

                                <li class="menu-item-has-children">
                                    <a href="membership">MEMBERSHIP </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="exchange"> EXCHANGE  </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="opportunity">  OPPORTUNITY  </a>
                                </li>
<li><a href="coc">code of conduct</a></li>
<!--                                <li class="menu-item-has-children">
                                    <a href="about">shopping </a>
                                </li>-->
                                <!--                                 <li class="menu-item-has-children">
                                                                    <a href="#">escrow </a>
                                                                </li>-->
                                <li>
                                    <a href="#"> More </a>
                                    <ul>
                                        <li><a href="blog"> Blog </a></li>
                                    <li><a href="comingsoon">Shopping</a></li>
                                    <li><a href="comingsoon">Escrow</a></li>
                                    
                                    
                                </ul>
                                </li>
                               

<!--                                <li >
                                    <a href="blog">BLOG</a>
                                </li>-->


                                <a href="register" class="button register"> Register  </a>
                                <a href="#" data-toggle="modal" data-target=".loginModal" class="button login"> Login  </a>
                            </ul>
                        </nav>
                    </div>
                    <!--for responsive menu-->
                    <nav id="mobile-menu-01" class="mobile-menu collapse">
                        <ul class="menu">
                                <li class="menu-item-has-children">
                                    <a href="/">Home</a>

                                </li>

                                                                <li class="menu-item-has-children">
                                                                    <a href="about">About Us</a>
                                                                </li>   

                                <li class="menu-item-has-children">
                                    <a href="membership">MEMBERSHIP </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="exchange"> EXCHANGE  </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="opportunity">  OPPORTUNITY  </a>
                                </li>
<li><a href="coc">code of conduct</a></li>
<!--                                <li class="menu-item-has-children">
                                    <a href="about">shopping </a>
                                </li>-->
                                <!--                                 <li class="menu-item-has-children">
                                                                    <a href="#">escrow </a>
                                                                </li>-->
                                <li>
                                    <a href="#"> More </a>
                                    <ul>
                                        <li><a href="blog"> Blog </a></li>
                                    <li><a href="comingsoon">Shopping</a></li>
                                    <li><a href="comingsoon">Escrow</a></li>
                                    
                                    
                                </ul>
                                </li>
                               

<!--                                <li >
                                    <a href="blog">BLOG</a>
                                </li>-->


                                <a href="register" class="button register"> Register  </a>
                                <a href="#" data-toggle="modal" data-target=".loginModal" class="button login"> Login  </a>
                            </ul>

                    </nav>
                </div>


                <div id="travelo-signup" class="travelo-signup-box travelo-box">
                    <div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>
                    <div class="seperator"><label>OR</label></div>
                    <div class="simple-signup">
                        <div class="text-center signup-email-section">
                            <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                        </div>
                        <p class="description">By signing up, I agree to coin's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                    </div>
                    <div class="email-signup">
                        <form>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="first name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="last name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="email address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="input-text full-width" placeholder="password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="input-text full-width" placeholder="confirm password">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Tell me about coin news
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="description">By signing up, I agree to coin's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                            </div>
                            <button type="submit" class="full-width btn-medium">SIGNUP</button>
                        </form>
                    </div>
                    <div class="seperator"></div>
                    <p>Already a coin member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
                </div>

                <div id="travelo-login" class="travelo-login-box travelo-box">
                    <div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>
                    <div class="seperator"><label>OR</label></div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <a href="#" class="forgot-password pull-right">Forgot password?</a>
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="seperator"></div>
                    <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
                </div>


            </header>