
         
        <% include header %>
        
     <article id="content">
          <div class="mainSlider">
           <div class="">
                <img src="/website/images/site/slider/slider3.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider1.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider2.jpg" class="full-box" height="727px" />
            </div>
            
            
        </div> 
        <div class="container">
            <div id="main">
                <br> <br>
                <h1>
                    To become a memeber of protocoin network you need to buy an software package . Once you buy a package you can start your network . You can choose packages from the below 
                </h1>
                
            </div>
            </div>
            
         
         <div> 
        <img src="/images/home3.png" width="100%" />
    </div>

         
        </article>
        
        
        <% include footer %>
   

