<% include header %>

    <article id="content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="/website/images/site/slider/member1.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <!--<h1>Welcome.</h1>-->
                          <h1>" Protocoins will change the world. Step by step. You can either stand beside and observe – or you can become part of history in the making."
                            </h1>
                           
                        </div>
                    </div>
                </div>
                
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container">
            <div id="main">
                <br> <br>
                <h1>
                    To become a memeber of protocoin network you need to buy an software package . Once you buy a package you can start your
                    network . You can choose packages from the below
                </h1>

            </div>
        </div>

        <div>
            <img src="/images/home3.png" width="100%" />
        </div>


    </article>


    <% include footer %>