
         
        <% include header %>
        
     <article id="content">
          <section class="bannerImg">

        <div class="mainSlider">
           <div class="">
                <img src="/website/images/site/slider/slider3.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider1.jpg" class="full-box" height="727px" />
            </div>
            <div class="">
                <img src="/website/images/site/slider/slider2.jpg" class="full-box" height="727px" />
            </div>
            
            
        </div> 
    </section>  
            <div class="container" >
                
                <h2> Future Of Protocoins </h2>
                
         <div class="row features">
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">Cryptocurrency</h4>
                                <p> Cryptocurrency like protocins  is on the verge of going mainstream.
 
</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">Businesses</h4>
                                <p>As more businesses decide that there is opportunity in digital currency, the value will naturally rise with the demand
</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">Protocoins</h4>
                                <p>The value of  protocoins will increased about 5-10 times the current price</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title"> Technological Innovations </h4>
                                <p> technological innovations like   Smart contracts, which  allow a huge possibility of applications. They are computer protocols that have the main purpose of executing the terms of a contract in order to satisfy common contractual conditions without the need of trusted intermediaries.
This way, smart contracts can be used as the deepest layer of any kind of application development and not just to set payment-related transactions </p>
                            </div>
                        </div>
                    </div>
         
            </div>
        </article>
        
        
        <% include footer %>
   

