
<% include ../header %>    

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="/vender/dynable/jquery.dynatable.css">

<style>
.tabheader-font{font-size:18px !important}
</style>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ../menu %>            


        <div id="page-wrapper">

            <div class="container-fluid">



                <div class="row top-heading">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                           TRANSACTIONS  <small>  </small>
                        </h1>


              <!--          <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> History
                            </li>
                        </ol> -->
                        <hr>
                        <ol class="breadcrumb user-tab">
                            <li class="active tabheader-font">
                                <a href="/users/tranhistory">
                               TRANSFER HISTORY
                                </a>
                            </li>
                            
                            
                            
                            
                        </ol>



                    </div>



                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <div class="panel col-lg-12"> 
                            <h3> Transfer History</h3>    
                            <div class="row"> 
                                <form id="filter">
                                <div class="col-lg-2">
                                    <input type="" name="from_date" class="form-control" id="from_date"  placeholder="From Date" />
                                </div>
                                <div class="col-lg-2">
                                    <input type=""  class="form-control"  name="to_date" placeholder="To Date" id="to_date"  /> 
                                </div>
                                    <div class="col-lg-2">
                                        <select id="status" class="form-control">
                                            <option value="0">Failure</option>
                                            <option value="1">Pending</option>
                                            <option value="2" selected="selected">Success</option>
                                            
                                        </select>
                                    </div>
                                        <div class="col-lg-2">
                                        <select id="transaction_type" class="form-control">
                                            <option value="0">package purchase</option>
                                            <option value="1">peer to peer</option>
                                            <option value="2" selected="selected">Sell</option>
                                            <option value="3" >Ecommerce Purchase</option>
                                        </select>
                                    </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-info" type="submit">  Filter   </button>   
                                   
                                </div>
                                </form>
                            </div>
                            <br>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-lg-12">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-hover table-striped panel">
                            <thead >
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th> No Of Coins </th>
                                    <th> Status </th>
                                    
                                    <th> To User </th>
                                </tr>
                            </thead>
                            <tbody id="replaceData">
                                      <% include page %> 
                               
                      
                                       </tbody>
                           
                        </table>
                                                    <ul class="pagination text-center">
                           <% 
                                var pageCount=10;
                           for(i=1;i<=pageCount;i++)  {
                           %>                       
                           <li><a href="#" data-page="<%- i-1 %>" class="page" ><%- i %></a></li>
  <% } %>
  
</ul>
                         <div class="col-lg-12 inviewCont">
                       
                    </div>

                    </div>
                    
                </div>
                <!-- /.row -->


                <!-- /.row -->

                <!-- /.row -->
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer %> 

</body>

</html>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/jquery.inview.min.js" > </script>
<script src="/vender/dynable/jquery.dynatable.js" > </script>
<script>
    $(document).ready(function () {
        
        
   
        
        
        
        $("#from_date").datepicker();
        $("#to_date").datepicker();
        
        
        var start=10;
        
        
        function filter(start,limit,from_date,to_date){
         var status=$("#status").val();
         var transaction_type=$("#transaction_type").val();
        if(from_date=="") { from_date=0; }
        if(to_date=="") { to_date=0; }
          var jsonData = {
                    "start_date":from_date,
                    "end_date":to_date,
                    "start":start,
                    "limit":limit,
                    "transaction_status":status,
                    "transaction_type":transaction_type
                };


           

                $.ajax
                        ({
                            type: "POST",
                            url: "/admin/tranhistorya/filter",
                            dataType: 'html',
                            async: false,
                            headers: {
                                "Authorization": "<%- authorization %>",
                                 'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            data: jsonData,
                            success: function (data) {

                         
                               $("#replaceData").html(data); 
                         
                         
                           
                         
 

                                return false;
                            }
                        });
        
        
    }
        
        
        $("#filter").validate({
            
            submitHandler: function () {
 
            var from_date=$("[name='from_date']").val();
            var to_date=$("[name='to_date']").val();
           
              
                filter(0,10,from_date,to_date)




            }
        });
        
        
        
          $('.inviewCont').on('inview1', function(event, isInView) {
             
         console.log(start,10,0,0,"prepend");
          var from_date=$("[name='from_date']").val();
          var to_date=$("[name='to_date']").val();
          if(from_date=="") { from_date=0 };
          if(to_date=="") { to_date=0 };
          filter(start,10,0,0,"prepend")
         
         
     });
     
     
        $('body').on('click','.page', function() {
             var page=$(this).attr("data-page");
             page=page*10;
              var from_date=$("[name='from_date']").val();
            var to_date=$("[name='to_date']").val();
         
         filter(page,10,from_date,to_date)
         
         
     });
        
        
        
        
    });
</script>