
<% include header %>    

<body>

    <div id="wrapper">

        <!-- Navigation -->
<% include menu %>            
        

        <div id="page-wrapper">

            <div class="container-fluid">

               
               
                
                 <div class="row top-heading">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            CRYPTOVALUE CURRENCY  <small>  </small>
                        </h3>


                <!--        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> cryptovalue
                            </li>
                        </ol>  -->

                    </div>



                </div>
              

                
                
                
                 <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <div class="panel col-lg-12"> 
                            
                            <h3>    1 Proto = <select id="currencylayer">
                        <% for(var i in currencylayer.quotes) { %>
                        <option value="<%- currencylayer.quotes[i] %>"> <%- i.replace("USD", ""); %>  </option>
                        <% } %>
                        
                                </select> <span id="proto-value"> 10 </span>  </h3>
                            
                        </div>


                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include footer %>  

</body>

</html>


<script>
     $(document).ready(function () {
      $("#currencylayer").change(function () {
                var protoValue = parseFloat($(this).val()).toFixed(2);
                $("#proto-value").text(protoValue);

            });
            
              });
    
    
</script>
