
<% include header %>    

<body>

    <div id="wrapper">

        <!-- Navigation -->
<% include menu %>            
        

        <div id="page-wrapper">

            <div class="container-fluid">

               
               
                
                 <div class="row top-heading">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                           MY NETWORK  <small>  </small>
                        </h3>


                    <!--    <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Network
                            </li>
                        </ol> -->

                    </div>



                </div>
              

                
                <div class="row"> 
                    
                    
                    
                  <div class="col-lg-12">
                    
                      
                      <h4>   Comming Soon </h4>
                     
                  </div>
                
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include footer %>  

</body>

</html>
